In [1]:
import pandas as pd

In [4]:
medals = pd.read_csv('medals_per_year_country_sport_sex.csv')
sports = pd.read_csv('../data/sports_details.csv')

In [3]:
medals

,Year,Season,NOC,Sport,Sex,Medal,Event
0,1896,Summer,GBR,Weightlifting,M,Gold,"[""Weightlifting Men's Unlimited; One Hand""]"
1,1896,Summer,GBR,Weightlifting,M,Silver,"[""Weightlifting Men's Unlimited; Two Hands""]"
2,1896,Summer,GER,Athletics,M,Silver,"[""Athletics Men's 100 metres""]"
3,1896,Summer,GER,Gymnastics,M,Bronze,"[""Gymnastics Men's Rope Climbing""]"
4,1896,Summer,GER,Gymnastics,M,Gold,"[""Gymnastics Men's Horizontal Bar; Teams"" ""Gym..."
...,...,...,...,...,...,...,...
10371,2016,Summer,VEN,Athletics,F,Silver,"[""Athletics Women's Triple Jump""]"
10372,2016,Summer,VEN,Boxing,M,Bronze,"[""Boxing Men's Flyweight""]"
10373,2016,Summer,VEN,Cycling,F,Bronze,"[""Cycling Women's BMX""]"
10374,2016,Summer,VIE,Shooting,M,Gold,"[""Shooting Men's Air Pistol; 10 metres""]"
10375,2016,Summer,VIE,Shooting,M,Silver,"[""Shooting Men's Free Pistol; 50 metres""]"

In [109]:
sports = sports[['Games','Sport','Sex','Name','Event','NOC']]

In [110]:
#sports['Season'] = sports.Games.apply(lambda x: x.split()[-1])

In [111]:
#sports['Year'] = sports.Games.apply(lambda x: x.split()[0])

In [112]:
sports

            Games          Sport Sex  Name  Event  NOC
0     1896 Summer      Athletics   M    63     12    9
1     1896 Summer        Cycling   M    19      6    5
2     1896 Summer        Fencing   M    15      3    4
3     1896 Summer     Gymnastics   M    28      8    8
4     1896 Summer       Shooting   M    38      5    7
...           ...            ...  ..   ...    ...  ...
1391  2016 Summer     Water Polo   M   154      1   12
1392  2016 Summer  Weightlifting   F   103      7   62
1393  2016 Summer  Weightlifting   M   152      8   80
1394  2016 Summer      Wrestling   F   112      6   44
1395  2016 Summer      Wrestling   M   234     12   55

[1396 rows x 6 columns]

In [114]:
#sports_year_overviews = sports[['Sport','Sex','Event','Season','Year']]
sports_year_overviews = sports[['Sport','Games']].drop_duplicates()

In [115]:
sports_year_overviews['Year'] = A

              Sport        Games
0         Athletics  1896 Summer
1           Cycling  1896 Summer
2           Fencing  1896 Summer
3        Gymnastics  1896 Summer
4          Shooting  1896 Summer
...             ...          ...
1386      Triathlon  2016 Summer
1388     Volleyball  2016 Summer
1390     Water Polo  2016 Summer
1392  Weightlifting  2016 Summer
1394      Wrestling  2016 Summer

[906 rows x 2 columns]

In [117]:
sports_order = sports_year_overviews[['Sport','Games']].groupby(['Sport'])['Games'].apply(lambda x: min(list(x)))
sports_year_dict = sports_order.apply(lambda x : int(x.split()[0])).to_dict()

In [119]:
sports_per_year = sports_year_overviews.groupby('Games')['Sport'].apply(lambda x: list(x))

In [124]:
pd.DataFrame(sports_per_year.apply(lambda x:sorted(x, key=lambda y:sports_year_dict[y]))).to_json('sports_per_game.json')
pd.DataFrame(sports_per_year.apply(lambda x:sorted(x, key=lambda y:sports_year_dict[y]))).to_csv('sports_per_game.csv')